/build/vs/Debug
/build/vs/Release
/build/vs/.vs/sound_shovel/v14/.suo
/build/vs/sound_shovel.VC.opendb
/build/vs/sound_shovel.sdf
/build/vs/x64
/build/vs2008
/build/vs/sound_shovel.opensdf
/build/vs/sound_shovel.v12.suo
/sound_shovel.exe
